body {
    font-family: 'Times New Roman';
    text-align: justify;
}
header {
    background-image: url("https://s31.postimg.org/6j4btyr8r/Georgia_1.jpg");
    background-size: cover;
    padding: 30px;
 
}

h1 {
    color: white;
    text-align: center;
    font-family: 'bodoni MT', 'Times New Roman';
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 20px;
    padding: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav {
    display: inline;
    text-decoration:none;
    list-style-type:none;
   
}


    

