
.header {
    background-image: url("https://s31.postimg.org/6j4btyr8r/Georgia_1.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman';
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 30px;
    padding: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav {
    line-height: 100 px;
    background-color:#8DAAD1;
    height: 100%;
    width: 200px;
    float: left;
    padding: 20px;
    position: absolute;
    margin-bottom: 10px;
}

.section {
    position: absolute;
    margin-left: 230px;
    text-align: justify;
    float: left;
    padding: 20px; 
}

H2 {
    text-decoration: underline;
    font-weight: bold;
}

li {
  display: inline;
  font-weight: bold;
  margin: 0;
  padding: 0 10px;
  border-right: 2px solid #bbb;
}

li:last-child {
    border-right: none;
}

ul {
  display: inline;
  text-align: right;
}



img {
   padding:2px;
   border:2px solid #000000;
   background-color:#FFFFFF;
}
    

