.header {
    background-color:#CDB5CD;
    color:white;
    text-align:center;
    font-family: 'Century Gothic', 'Times New Roman';
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#B4D2AF;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}

.section {
    width: 400px;
    padding: 10px; 
}
